<div ng-include="'partials/navbar.html'"></div>
	<div class=" loading" ng-class="{loaded:loads=='loaded'}">
		<div class="agendaTitleDiv headerMargin">
			<div class="agendaTitle">
				<a href="#/agenda/{{dayVal-1}}">
					<div id="agendaLeftArrow">
						<img src="img/icons/back-arrow.png"  ng-hide="dayVal == 0" class="agendaLeftArrowImage"/>
					</div>
				</a>	
				{{currentDayAgenda.title.dayNum}} : {{currentDayAgenda.title.day}}, {{currentDayAgenda.title.month}} {{currentDayAgenda.title.date}}
				<a href="#/agenda/{{dayVal+1}}">
					<div id="agendaRightArrow" ng-show="dayVal < agendaData.length-1">
						<img src="img/icons/forward-arrow.png" ng-hide="$index==agendas.length-1" 
								 class="agendaRightArrowImage"/>
					</div>
				</a>	
			</div>
			<div class="borderDiv"></div>
			<div class="agendaDiv" ng-repeat="row in currentDayAgenda.data" ng-controller="SpeakerCtrl">
				<div class="agendaStartTime">{{row.startTime}}</div>
				<button ng-click="showSpeakerDetails(row.speaker, row.session)" class="fill-div" 
							  ng-disabled="row.detail==null">
					<div class="agendaSmallDiv">
		  			<div class="agendaTime">
							<div id="agendaSessionIcon" class="glyphicon glyphicon-time"></div>
							<div class="agendaSessionTime">{{row.Time}}</div>
						</div>
						<div class="agendaSessionTitle">
							<div class="agendaSessionText">{{row.session}}</div>
							<div id="agendaSessionRightIcon" ng-if="row.detail!=null">
								<img height="20px" width="15px" src="img/icons/right-arrow.png"></img>
							</div>
						</div>
						<div class="agendaSpeakerName" ng-if="row.speakerTitle!=null">{{row.speaker}},</div>
						<div class="agendaSpeakerName" ng-if="row.speakerTitle==null">{{row.speaker}}</div>
						<div class="agendaSpeakerTitle">{{row.speakerTitle}}</div>
					</div>	
				</button>
			</div>	
		</div>
	</div>
</div>
<div ng-include="'partials/footer.html'"></div>