<div class="nav-tabs navbar-fixed-bottom">
  <a data-toggle="tab" href="#/overview">
  	<div class="{{active_overview}} tabs font border-tab">
  		<img height="22px"src="img/icons/overview-small.png"></img>
  		<div>Overview</div>
  	</div>
  </a>
  <a data-toggle="tab" href="#/speakers">
  	<div class="{{active_speaker}} tabs font border-tab">
  		<img height="22px"src="img/icons/speaker-small.png"></img>
  		<div>Speakers</div>
  	</div>
  </a>
  <a data-toggle="tab" href="#/agenda/{{dayVal}}">
    <div class="{{active_agenda}} tabs font border-tab">
	   	<img height="22px"src="img/icons/schedule-small.png"></img>
	   	<div>Agenda</div>
    </div>
  </a>
  <a data-toggle="tab"  href="#/venue">
  	<div class="{{active_venue}} tabs font">
  		<img height="22px" src="img/icons/venue-small.png"></img>
  		<div>Venue</div>
  	</div>
  </a>
<div>
<div class="breakline"></div>