<div class="landing-page-container loading" ng-class="{loaded:loads=='loaded'}" 
     style="height:{{deviceHeight}}px !important">  	
	<div class="landing-page-logo"></div>
  <div class="grid-container container">
  	<div class="down-arrow"></div>
  	<div class="conference-info-text">
      {{confvenue.events}} <br> {{confvenue.venue}},{{confvenue.date}}
    </div>
    <div class="grid relative pull-left">
      <div class='grid-line pull-left pull-up overview-color'></div>
      <div class='grid-line pull-right align-grid-line pull-up speaker-color'></div>
      <a href="#/overview">      
        <div class="grid-box pull-left overview-color overview-image background-common">
          <div class="grid-box-text">Overview</div>
        </div>
  	  </a>
    	<a href="#/speakers">
        <div class="grid-box pull-left align-grid-box speaker-color speaker-image background-common">
    			<div class="grid-box-text">Speakers</div>
    		</div>
    	</a>
    </div>
  	
    <div class="grid relative pull-left grid-with-margin">
      <div class='grid-line pull-left pull-down agenda-color'></div>
      <div class='grid-line pull-right align-grid-line pull-down venue-color'></div>
    	<a href="#/agenda/{{dayVal}}">
        <div class="grid-box pull-left agenda-color agenda-image background-common">
        	<div class="grid-box-text">Agenda</div>
        </div>
      </a>
      <a href="#/venue">
    		<div class="grid-box pull-left align-grid-box venue-color venue-image background-common">
    			<div class="grid-box-text">Venue</div>
    		</div>
    	</a>
    </div>
  </div>  
</div>