<div class="overview-bg loading" ng-class="{loaded:loads=='loaded'}" 
		 style="height: 100%; background-size:{{deviceWidth}}px 100% !important;">
	<div class="container-fluid">
		<div class="overview-head"> 
  		<div class="overview-head-text">
  			<span class="overviewHT" ng-bind-html="overview.welcomeNote"></span>
  		</div>
  		<div  class="overviewHeadImage">
    		<div class="overviewImageFloatLeft">
    			<img src="img/icons/logo-large.png" class="overviewHI overviewHP"></img>
    		</div>
			</div>	
		</div>
	</div>
	
	<div class="overviewTVH">
		<img src="img/icons/icon-large.png" class="overviewTV"></img>
		<div>{{overview.subtitle}}</div>
	</div>
	<div class="overviewNI">
		<span>{{overview.description}}</span>
	</div>
	
	<div class="overviewFeature1 container">
		<img height="25px" src="img/icons/browse.png" class=""></img>
		<div class="overviewFI">{{overview.feature1}}</div>
	</div>
	<div class="overviewFeature2 container">
		<img height="25px" src="img/icons/date.png" class=""></img>
		<div class="overviewFI">{{overview.feature2}}</div>
	</div>
	<div class="overviewFeature3 container">
		<img height="16px" src="img/icons/email.png" class=""></img>
		<div class="overviewFI" ng-bind-html="overview.feature3"></div>
	</div>
	<div ng-include="'partials/footer.html'"></div>
</div>