<div ng-include="'partials/navbar.html'"></div>
<div class="headerMargin loading" ng-class="{loaded:loads=='loaded'}">
	<div class="sdArrowDiv">
		<div class="sdArrowSubDiv">	
				<img id="aHeadLeftIcon" src="img/icons/back-arrow.png" class="font_color4" ng-click="goBack()"/>
		</div>
		<div class="text_align font_color4">Speaker Profile</div>		
	</div>

	<div class="aBody aBodyMarginLeft">
		<div class="speakerImageDivLeft">
			<img class="sdImage" src="img/speakers/{{speakerDetail.image}}"></img>
		</div>
		<div class="speakerImageDivRight" style="display:inline-block">
			<div>
				<span class="speaker_font roboto-medium font_color3">{{speakerDetail.name}}</span>
				<h6 class="font_color roboto-regular">{{speakerDetail.known_for}}</h6>
			</div>
			<div>
				<div><h6 class="font_color roboto-medium font_color3">SESSION</h6></div>
				<a href="#/speakerDetail" ng-click="showSpeakerDetails(speakerDetail.name)">
					<div>
						<h6 class="roboto-medium font_color2">
							<img class="speakerTopicImage mic-float" src="img/icons/mic-icon.png"></img>
							<div class="mic-padding">"{{speakerDetail.topic}}"</div>
						</h6>
					</div>
				</a>
			</div>
			<div>
				<div>
				    <h6 class="font_color roboto-medium font_color3">DATE & TIME</h6>
				</div>
				<div class="DTText">
					<div id="aIcon" class="glyphicon glyphicon-calendar font_color2"></div>
					<div class="aText roboto-regular">
						{{speakerDetail.day}}, {{speakerDetail.dd}} {{speakerDetail.mon}} {{speakerDetail.yyyy}}
					</div>
				</div>
				<div class="DTText">
					<div id="aIcon" class="glyphicon glyphicon-time font_color2"></div>
					<div class="aText roboto-regular">{{speakerDetail.startTime}}-{{speakerDetail.endTime}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="aBody aBodyMarginTopBot aBodyMarginLeft">
		<div class="font_color roboto-medium">
			<h6 class="font_color3">ABOUT SPEAKER</h6>
		</div>
		<div class="font_color roboto-regular">
			<h6>{{speakerDetail.description}}</h6>
		</div>
	</div>
</div>
<div class="footerMargin2"></div>
<div class="foot" ng-include="'partials/footer.html'"></div>