/* app css stylesheet */
@font-face {
  font-family:"Roboto-Regular" ;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family:"Roboto-Medium" ;
  src: url(Roboto-Medium.ttf);
}

body {
  height: 1024px;
}

div.active,div > a.active:hover,div.active > a,div.active > a:hover {
  background-color: #F39C12 !important; 
  color:white !important;
}

a.active, a {
  border:none !important;
  color:#428BCA;
}

a:hover {
  text-decoration: none !important;
}

a:link {
  text-decoration:none;
}

.wrapper {
  height: 100%;
}

.font {
  font-family:"Roboto-Medium" ;
  color:white;
  text-align: center !important;
  font-size: 12px;
  position:relative;
}

.tabs {
  background-color: #1E92B6; 
  height: 45px !important; 
  text-align: center;
  width:25% !important;
  float:left;
  padding-top: 4px; 
  text-align: center;
}

.border-tab {
  border-right: 1px solid white !important;
}

.tabs:active {
  background: -webkit-linear-gradient(left,lightsalmon, orange,lightsalmon);
}



.default_content {
  color:#A0A0A0 !important;
  height:40px;
  overflow:hidden ;
}

.content {
  color:#A0A0A0 !important;
  height:auto;
}

.breakline {
  padding-top:3%;
}

.nav-tabs {
  border:none !important;
}

.head {
  height:66px;
  background-color: #F39C12;
  color: #FFFFFF;
  text-align: center;
  padding-top:6px; 
}

.headerText {
  display: inline;
}

.headerText2 {
  margin-left:10%;
  margin-top:-3%;
  color:white; 
}

.headerText3 {
  margin-left:7%;
}

.logoImage {
  max-width:6%;
  max-height:6%;
}

.headerLogo {
  width:140px;
}

.headerLogoDiv {
  display:inline;
  width: 50%;
  height: 50%;
}

.color1 {
  color:#73A7BD;
}

.overviewImage {
  width:100%;
  height:100%;
  position:relative;
}

.divider {
  max-width: 100%;
  height: 0;
  border-bottom: 20px solid #E1CB57;
  border-left: 700px solid transparent;
}

.agendaTitleDiv {
  background-color: #F4F4F4;
  padding: 1% 1% 1% 1%;
}

.agendaTitle {
  text-align: center;
  font-size: 15px;
  color:#1E8EB3;
  width:90%;
  margin:auto;
  margin-bottom: 10px;
  margin-top:10px;
  font-family: "Roboto-Medium";
}

.agendaSmallDiv {
  padding: 1% 1% 1% 1%;
  border:1px solid #DBDBDB;
  background-color: #FFFFFF;
}

.borderDiv {
  border-bottom: 2px solid #CCCCCC;
  width:98%;
  margin-left:1%; 
}

.agendaSessionTime {
  color:#818181;
  display: inline;
  font-family: "Roboto-Regular";
}

.agendaSessionTitle {
  margin-top: 12px;
}

#agendaRightArrow {
  float:right;
  width: 10px;
  margin-right: 10px;
}

#agendaLeftArrow {
  float:left;
  margin-left: -10px;
  width: 10px;
}

.agendaRightArrowImage {
  width: 15px;
}

.agendaLeftArrowImage {  
  width: 15px;
}

.agendaTitleText {
  display: inline;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.agendaSessionText {
  font-size: 15px;
  color: #444444;
  display: inline;
  font-family: "Roboto-Medium";
}

#agendaSessionRightIcon {
  color: #8C8C8C;
  font-size: 15px;
  display: inline;
  float: right;
  padding-right: 5px;
}

.agendaSpeakerName {
  display: inline;
  font-family: "Roboto-Regular";
  color: #FFA03E;
}

.com {
  display: inline; 
  color: #FFA03E;
}

.agendaSpeakerTitle {
  display: inline;
  font-family: "Roboto-Regular";
  color: #818181;
}

.agendaSessionDetail {
  margin-top: 0%;
  color: #818181;
}

.glyphicon-chevron-right {
  color: #CCCCCC;
}

.glyphicon-chevron-left {
  color: #CCCCCC;
}

.font_size {
  font-size: 15px;
}

.font_color {
  color: #888888;
}

.font_color2 {
  color: #F39C12 !important;
}

.font_color3 {
  color: #444444 !important;
}

.font_color4 {
  color: #1E92B6 !important;
}

.font_color5,.font_color5:hover {
  color: #000066 !important;
}

.speakerBorder {
  border: 1px solid #CCCCCC !important;
  background-color: white;
  margin-top: 2%;
  padding-bottom: 1%;
}

.speakerBreakline {
  height: 4px;
}

.landingPage {
  background: url('../img/background.png');
  text-align: center;
  vertical-align: center;
  padding: 20% 10% 40% 10%;
}

.landingPageIcon {
  height: 50px;
  width: 75px;
  margin: auto;
}

.landingPageLogo {
  height: 50px;
  width: 140px;
  margin: auto;
}

.landingPageText {
  color: #FFFFFF;
  display: inline;
  font-size: 100%;
}

.blue {
  color: #73A7BD;
  display: inline;
}

.grid-container {
  width: 280px !important;
  margin: auto;
}

.down-arrow {
  width: 20%; 
  margin: auto;
  height: 100px;
  background-image: url('../img/icons/arrow.png');
  background-repeat: no-repeat;
  background-size: 28px 100px;
}

.conference-info-text {
  text-align: center;
  color: #FFFFFF;
  font-size: 150%;
  margin: auto;
  padding-bottom: 15px;
  margin-top: 5px;
}

.grid {
  width: 200px;
  text-align: center;
  margin-left: 33px;
} 

.grid-with-margin {
  margin: 10px 0px 15px 33px;
}

.grid-box {
  height: 85px;
  width: 85px;
  margin: 0px auto;
  text-align: center;
  position: relative;
}

.align-grid-box {
  margin-left: 15px;
}

.grid-box-text {
  color: #ffffff;
  font-size: 100%;
  width: 100%;
  bottom: 8px;
  position: absolute;
}

.grid-line {
  position: relative;
  width: 85px;
  height: 5px;
}

.pull-up {
  top: -5px;
}

.pull-down {
  top: 95px;
}

.align-grid-line {
  margin-right: 15px;
}

.overview-color {
  background-color: rgba(85,170,255,0.7);
}

.agenda-color {
  background-color: rgba(3,173,3,0.7);
}

.speaker-color {
  background-color:rgba(27,156,126,0.7);
}

.venue-color {
  background-color: rgba(227,190,42,0.7);
}

.background-common {
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.overview-image {
  background-image: url('../img/icons/overview-large.png');
  background-size: 50px 25px;
}

.agenda-image {
  background-image: url('../img/icons/agenda-large.png');
  background-size: 47px 35px;
}

.speaker-image {
  background-image: url('../img/icons/speakers-large.png');
  background-size: 28px 35px;
}

.venue-image {
  background-image: url('../img/icons/venue-large.png');
  background-size: 41px 35px;
}

.landing-page-logo {
  background-color: #F39C12;
  width: 95%;
  height: 80px;
  padding-top: 7px;
  background-image: url('../img/icons/New-Logo.png');
  background-repeat: no-repeat;
  background-size: 270px 65px;
  background-position: 50% 50%;
}

.homepage {
  text-decoration: none;
}

.homepage:hover {
  color:#F39C12 !important;
  background-color: #F39C12 !important;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.headerMargin {
  padding-top: 64px;
  padding-bottom: 45px;
  background-color: #F4F4F4;
}

.footerMargin {
  padding-top: 55px;
  background-color: #F4F4F4;
}

.footerMargin2 {
  padding-bottom: 63px;
  background-color: #F4F4F4;
}

.headerIcon {
  height: 60px;
  width: 250px;
  /* padding-left: 0px; */
  /* margin: auto; */
}

.agendaStartTime {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Roboto-Medium";
  margin-left: 7px;
}

#agendaSessionIcon {
  color: #F39C12;
  display: inline;
  font-size: 12px;
}

.agendaTime {
  display: inline;
}

.agendaVenue {
  display: inline;
  float: right;
}

.agendaVenueText {
  display: inline;
  color: #8C8C8C;
  font-size: 12px;
}
 
#agendaVenueIcon {
  color: #8C8C8C;
  font-size: 12px;
  display: inline;
}

.aMain {
  background-color:#F4F4F4 ;
  text-align: center;
}

.aHeadText{
  text-align: center;
  display: inline;
  color:#2E2E2E;
  font-size: 15px;
  font-family: "Roboto-Medium";
}

.aHead {
  margin-top: 10px;
  margin-bottom: 10px;
}

#aHeadLeftIcon {
  float: left;
  cursor: pointer;
  color: #D1D1D1;
  /* padding: 3px 3px 3px 3px; */
  width: 15px;
  height:20px;
  margin-left: 2%;
}

.aBody {
  background-color: #FFFFFF;
  border:1px solid #E4E4E4;
  display: inline-block;
  width:95%;
  padding:2% 2% 2% 2%;
}

.aBodyMarginLeft {
  margin-left:3% !important;
  margin-top: 1%;
}

.aBodyMarginTopBot {
  margin-top:2%;
  margin-bottom:2%;
}

.DateTime {
  display:inline;
  float:left;
}

.Speaker {
  display: inline;
  float: right;
  width: 40%;
  height: 50%;
}

.aText {
  display: inline;
  font-size: 11px;
  color:#909090;
  font-family: "Roboto-Regular";
}

#aIcon {
  display: inline;
  font-size: 12px;
  color:#969696;
  /*float: left;*/
  margin-right: 2px;
  padding-top:3px;
}

.aText2 {
  font-size: 12px;
  color:#909090;
  margin-bottom: 10px;   
  text-align: left;
  font-family: "Roboto-Medium";
}

.aText4 {
  font-size: 12px;
  color: #909090;
  margin-bottom: 10px;
  width: 90%;
  text-align: left;
  margin-left: 10%;
  float: right;
  font-family: "Roboto-Medium";
}

.aImage {
  max-height: 100%;
  height: 100px;
  width: 100px;
  right: 0px;
  float: left;
}

.aImageText {
  bottom: 0px;
  z-index: 100;
  position: absolute;
  background-color: #000;
  color: #FFF;
  padding: 1px;
  /*right:0px;*/
  width: 100px;
  opacity: 0.7;
  font-size: 10px;
  /*margin-right: 8%;*/
  font-family: "Roboto-Medium";
}

.aBodyLower {
  margin-top: 20px;
  position: relative;
  height:60%;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
}

.aText3 {
  color:#949494;
  font-size:11px;
  font-family: "Roboto-Regular";
}

.aBodyUpper {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 40%;
}

.DTText {
  text-align: left;
}

.ImageDiv {
  width:90%;
  height: 90%;
  float: right;
}

.sdImage {
  height: 160px;
  width: 160px;
  left: 0px;
}

.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  outline: none;
  border:none;
  color:inherit;
  text-align: left;
  background: none;
}

button:target {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  outline: none;
   border:none;
  color:inherit;
}

/* speakerDetail.html css */

.sdArrow {
  padding:5px 5px 5px 5px;
}

.sdArrowDiv {
  width:100%;
  padding:2% 2% 0% 2%;
}

.sdArrowSubDiv > a:hover {
  background:transparent !important;
}

.sdArrowGlyph {
  padding-top: 20px !important;
  padding-bottom:24px;
  width:30px;
  float:left;
}

.speakerDetailDiv {
  float:left;
  width:50%;
}

.speakerTopicColor {
  color:#399DE8;
}

.speakerTopicImage {
  height:15px;
  width:10px;
}

span.glyphicon-chevron-left {
  font-size: 1.5em;
  text-decoration: none;
}

.speakerMainDiv {
  color:black !important;
}


.glyphChevronRight {
  width:5%;
  float:right;
  padding-top:40px;
  margin-right:2%;
}

.speakerInfo {
  width:50%;
  float:left;
  margin-left:1%;
  font-family:"Roboto-Regular";
}

.speakerImageDivLeft {
  float:left;
  width:50%;
}

.speakerImageDivRight {
  float:right;
  width:40%;
  padding-left: 10px;
}

.loading {
  opacity: 0;     /*Provides smooth transition*/
  -webkit-transition: opacity 0.20s ease-in;
  -moz-transition: opacity 0.20s ease-in;
  -o-transition: opacity 0.20s ease-in;
  -ms-transition: opacity 0.20s ease-in;
  transition: opacity 0.20s ease-in;
}

.loaded {
  opacity: 1;
}

.text_align {
  color:#2E2E2E;
  font-size: 18px;
  font-family:"Roboto-Medium";
  float:left ;
  width:65%;
}

.sdArrowSubDiv {
  float:left;
  width: 35%;
}

.oheadingTwo {
  font-family: "Roboto-Medium";
  text-align: center;
  margin-top: 30px;
  color: #444444;
}

.odate {
  font-family: "Roboto-Medium";
  text-align: center;
  margin-top: 5px;
  color: #444444;
}

.ovenue {
  font-family: "Roboto-Medium";
  text-align: center;
  margin-top: 5px;
  color: #444444;
}

.oparaOne {
  font-family: "Roboto-Medium";
  margin-top: 8px;
  color: #444444;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.oparaTwo {
  font-family: "Roboto-Medium";
  margin-top: 8px;
  color: #444444;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.oparaThree {
  font-family: "Roboto-Medium";
  margin-top: 8px;
  color: #444444;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.overviewText {
  max-height: 50%;
  color: #888888;
  font-size: 100%;
  padding:10px 5px 5px 5px;
}

.oheadingOne {
  font-family: "Roboto-Medium";
  text-align: center;  
  color: #444444;
}

.speaker_font {
  font-size: 13px;
}

.white_bg {
  background-color: white !important;
}

.grey_bg {
  background-color: #F4F4F4 !important;
}

.landing-page-container{
  background: url('../img/home-bg.png')  no-repeat center center fixed;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5% !important;
  margin:auto;
}

.roboto-medium {
  font-family: "Roboto-Medium";
}

.roboto-regular {
  font-family: "Roboto-Regular";
}

.foot {
  position: fixed;
}

html {
  background-color: #F4F4F4;
}

.overview-head-text {
  float: left;
  font-family: "Roboto-Regular";
  min-width: 23%;
  max-width: 100%;
  padding-top: 7px;
  margin-left: 0px;
  padding-bottom: 7px;
  text-align: left !important;
  border-bottom: 10px solid #F39C12;
}

.overviewHT {
  float:right;
  padding-right: 5px;
}

.overviewHeadImage {
  float: left;
  width: 50%;
  border-bottom: 10px solid #F39C12;
   min-width: 190px;
}

.overview-head {
  color: #FFFFFF;
  padding-top: 10px; 
  text-align: center;
  display: inline-block;
  width: 100%;
}

.overviewHP {
  text-decoration: none;
}

.overviewHI {
  height: 34px;
  width: 190px;
}

.overview-bg {
  background: url('../img/overview-bg.png') ;
  background-repeat: no-repeat;
}

.overviewTV {
  text-align:center;
  height:50px;
  width:50px;
  margin:auto;
}

.overviewTVH {
  text-align:center;
  color:white;
  font-family: roboto-medium;
  font-size:12px;
  letter-spacing: 3px;
  margin: 10px auto;
}

.headerBar {
  margin-top:35px;
  border:5px solid #F39C12;
}

.overviewNI {
  border-top: solid #C2B7AD;
  border-bottom: solid #C2B7AD;
  padding: 10px ;
  margin:10px auto;
  color:white;
  font-family: roboto-regular;
  text-align: justify;
  width: 96%;
  max-width: 450px;
}

.overviewFeature1, .overviewFeature2, .overviewFeature3 {
  margin: auto;
  padding: 10px;
  color:white;
  text-align: justify;
  width: 96%;
  height: 70px;
  max-width: 450px;
  padding-left: 2% !important;
}

.overviewFeature1 {
  background-color:#31ACA6;
}

.overviewFeature2 {
  background-color:#DA5754;
}

.overviewFeature3 {
  background-color:#F38649;
}

.overviewFI {
  width:90%;
  float:right;
  font-size: 13px;
  font-family: roboto-regular;
  padding: auto;
  text-align: justify;
  padding-left:1% !important;
}

.overviewArrow {
  margin-top: 5%;
  margin-bottom: 8%;
  text-align: center;
}

.mic-float {
  float:left;
}

.mic-padding {
  padding-left:13px;
  padding-top:3px;
}

------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------

#speakerDiv {
  width:100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  
}

#speaker_image {

  
  position:relative;
}

#speakerMenuIcon{
  float:left;
  display: inline;
  width:30px;
}



#speakerCalendarIcon{
  float:right;
  display: inline;
  width:30px;
}
#speakerUp{
  position: absolute;
  color:white;
  font-size: 25px;
  top:2px;
  width:100%;
  padding: 7px 7px 7px 7px;
  text-align: center;
}

#speakerDown{
  position: absolute;
  bottom: 2px;
  padding: 10px 10px 10px 10px;
  width:100%;
}

#speakerName{
  font-size: 32px;
  color:white;
  
}

#speakerKnownFor{
  color:white;
  font-size:15px;
  font-style: italic;
}

#whiteLine{
  width:100%;
  background-color:white;
  height:2px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#speakerSpeakingOn {
display: inline;
background-color: #7772B2;
color: white;
font-size: 15px;
padding: 7px 3px 6px 3px;
}
#speakerTopic{
  display: inline;
  color:white;
  font-size:15px;
}

#arrow-right {
/* display: inline; */
width: 0;
height: 0;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid #7772B2;
/* margin-top: 90px; */
/* margin-left: -4px; */
margin-left: 84px;
margin-top: -26px;
}

#speakerArrowBox{
  display: inline-block;

}
.shift-required{
    
    margin-left:200px;
    
    
    
}


.up{
    top:0px;
    width:200px;
    position:absolute;
    
}